<!DOCTYPE html>
<html lang="en">

    {% load static %}

<title>TSBVANS</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="" async defer></script>


        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free HTML Templates" name="keywords">
        <meta content="Free HTML Templates" name="description">

        <!-- Favicon -->
        <link href="{% static 'img/favicon.ico' %}" rel="icon">


 

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    
        
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.0/css/all.min.css" integrity="sha512-UJqci0ZyYcQ0AOJkcIkUCxLS2L6eNcOr7ZiypuInvEhO9uqIDi349MEFrqBzoy1QlfcjfURHl+WTMjEdWcv67A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
        
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet"> -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

        <!-- <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" /> -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
        <link href="lib/animate/animate.min.css" rel="stylesheet">

        <!-- Icon Font Stylesheet -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        
        <!-- Template Stylesheet -->
        <!-- <link href="css/style.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="{% static 'css/newstyle.css' %}">


       
</head>
<body>
    <header>


    <!-- Spinner Start -->
    <!-- <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner"></div>
    </div> -->
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <div class="container-fluid px-3 py-2 border-bottom topbar-special">
        <div class="container-xxl">

        
            <div class=" row align-items-center">
                <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
                    <div class="d-flex align-items-center"> 
                        <a class="me-4 text-secondary text-decoration-none"><i class="fa fa-phone-alt me-2"></i> +353 87 387 5175</a>
                        <a class="text-secondary text-decoration-none d-flex align-items-center gap-3"><i class="far fa-envelope"></i> service@lompatlogistics.ie</a>
                    </div>
                </div>
                <div class="col-lg-4 text-center text-lg-end">
                    <div class=" align-items-center" >
                        <a class="btn btn-sm btn-outline-secondary btn-sm-square rounded-circle me-2" href=""><i class="fab fa-twitter fw-normal"></i></a>
                        <a class="btn btn-sm btn-outline-secondary btn-sm-square rounded-circle me-2" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                        <a class="btn btn-sm btn-outline-secondary btn-sm-square rounded-circle me-2" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                        <a class="btn btn-sm btn-outline-secondary btn-sm-square rounded-circle me-2" href=""><i class="fab fa-instagram fw-normal"></i></a>
                        <a class="btn btn-sm btn-outline-secondary btn-sm-square rounded-circle " href=""><i class="fab fa-youtube fw-normal"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


            <nav class="navbar navbar-expand-lg ">
                <div class="container-xxl">
                  <a class="navbar-brand" href="#">
                    <img src="{% static '/img/tsbvans-new-logo.svg' %}" alt="">
                  </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mb-2 gap-4 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#home">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#services">Services</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="#contactus">Contact Us</a>
                      </li>
                    </ul>
                    <form class="d-flex" role="search">
                      <button class="btn btn-outline-danger rounded-pill px-4" type="submit">Get Quote</button>
                    </form>
                  </div>
                </div>
              </nav>
       


</header>

<section class="container-fluid py-5" id="home">
    <div class="container-xxl">
        <div class="row align-items-lg-center">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 p-3">
                <h6 class="text-secondary fs-5  "><span class="border-bottom border-light pb-2">Tailored to your needs and budget </span> </h6>
                <h1 class="tfeature-text">
                    Man with a van
                </h1>
                <p class="text-secondary">A delivery van service specializes in transporting goods efficiently from one location to another. These vans are designed for various cargo types, offering flexibility for businesses and individuals. Timely delivery and reliable service are essential, enhancing customer satisfaction and supporting the logistics industry.</p>

                <div class="d-flex align-items-center gap-3 mt-3">
                    <button class="btn btn-danger rounded-pill px-4" type="submit">Get Quote</button>
                    <button class="btn btn-outline-dark rounded-pill px-4" type="submit">How it work</button>
                </div>

                <div class="d-flex align-items-center gap-5 mt-5">
                    <div>
                        <h1 class="mote-text mb-0 "> 350+</h1>
                        <p class="client-feature">Happy Clients </p>
                    </div>
                    <div>
                        <h1 class="mote-text mb-0"> 2k+</h1>
                        <p class="client-feature">Jobs Done </p>
                    </div>
                </div>

                
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 p-3">
                    <img class="hero-image" src="{% static '/img/heroimage.png' %}"  alt="TSBvans">
            </div>
        </div>

    </div>

</section>

<section class="container-fluid py-5 bg-light">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center gap-5 ">
            <img class="brand-logo" src="{% static '/img/brand-logos/512px-Amazon_logo.svg.png' %}" alt="" height="40">
            <img class="brand-logo" src="{% static '/img/fedex-express-6.svg' %}" alt="" height="40">
        </div>

    </div>
</section>

<section class="container-fluid py-5 ">
    <div class="container-xxl">
        <h1 class="mx-auto text-center py-4 fw-bold mb-5">See What Our Happy 😊 Client Says</h1>
        <div class="swiper testimonialSwiper">
            <div class="swiper-wrapper">
                
                <div class="swiper-slide">
                    <div class="review-card">

                        <div class="d-flex gap-3 align-items-center ratings mb-4">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>
                            "I want to thank the team at Bark for resolving my issue quickly and effectively. They paid close attention to the details I requested and executed them precisely. The driver, Thabani, was very helpful in delivering carefully and right to the requested destination."
                        </p>  
                        <div class="review-user">
                            <!-- <img class="review-user-image border border-secondary " src="./img/user-circle-solid.svg" alt="" width="50" height="50" > -->
                            <div class="">
                                <p class="user-name mb-0">
                                    Natalia
                                </p>
                                <!-- <p  class="user-location mb-0">
                                    Dublin, Ireland
                                </p> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide ">
                    <div class="review-card">
                        <div class="d-flex gap-3 align-items-center  mb-4">
                            <i class="ratings fas fa-star"></i>
                            <i class="ratings fas fa-star"></i>
                            <i class="ratings fas fa-star"></i>
                            <i class="ratings fas fa-star"></i>
                            <i class="text-secondary fas fa-star"></i>
                        </div>
                        <p>
                            "Excellent service across the board from price to delivery. Driver offered help with heavy boxes due to having stairs. Was very helpful and efficient. On time service too. No problem recommending."
                        </p>  
                        <div class="review-user">
                            <!-- <img class="review-user-image border border-secondary " src="./img/user-circle-solid.svg"  alt="" width="50" height="50" > -->
                            <div class="">
                                <p class="user-name mb-0">
                                   Chris
                                </p>
                                <!-- <p  class="user-location mb-0">
                                    Dublin, Ireland
                                </p> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide ">
                    <div class="review-card">
                        <div class="d-flex gap-3 align-items-center ratings mb-4">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>
                            "Excellent service hassle free, Sam was a pleasure to deal with, thank you so much my elderly mother was delighted with her collection and delivery, would highly recommend and will you their service again 💯"
                        </p>  
                        <div class="review-user">
                            <!-- <img class="review-user-image border border-secondary " src="./img/user-circle-solid.svg"  alt="" width="50" height="50" > -->
                            <div class="">
                                <p class="user-name mb-0">
                                    Sandy
                                </p>
                                <!-- <p  class="user-location mb-0">
                                    Dublin, Ireland
                                </p> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide ">
                    <div class="review-card">
                        <div class="d-flex gap-3 align-items-center ratings mb-4">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>

                       
                        <p>
                            "Compare took on my job at short notice and arrived on time, we’re very helpful and polite and at a reasonable rate. I highly recommend. The van was also very clean so my belongings were not soiled or damaged during transit."
                        </p>  
                        <div class="review-user">
                            <!-- <img class="review-user-image border border-secondary " src="./img/user-circle-solid.svg"  alt="" width="50" height="50" > -->
                            <div class="">
                                <p class="user-name mb-0">
                                    Fergal Doherty
                                </p>
                                <!-- <p  class="user-location mb-0">
                                    Dublin, Ireland
                                </p> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide ">
                    <div class="review-card">
                        <div class="d-flex gap-3 align-items-center ratings mb-4">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>

                       
                        <p>
                            "I had an excellent experience with Lompatcare Removal Company! They recently helped me move my bed and fridge, and the service was outstanding. The team was punctual, professional, and handled my belongings with the utmost care. They made the entire moving process smooth and stress-free. "
                        </p>  
                        <div class="review-user">
                            <!-- <img class="review-user-image border border-secondary " src="./img/user-circle-solid.svg"  alt="" width="50" height="50" > -->
                            <div class="">
                                <p class="user-name mb-0">
                                    Sarah Robinson
                                </p>
                                <!-- <p  class="user-location mb-0">
                                    Dublin, Ireland
                                </p> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide ">
                    <div class="review-card">
                        <div class="d-flex gap-3 align-items-center ratings mb-4">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>

                       
                        <p>
                            "Just wanted to say how much I appreciated your services! I called for an immediate pickup, and you gave me a time and stuck to it. Your efficiency and reliability are truly impressive. You can definitely trust their services. Thanks, guys! "
                        </p>  
                        <div class="review-user">
                            <!-- <img class="review-user-image border border-secondary " src="./img/user-circle-solid.svg"  alt="" width="50" height="50" > -->
                            <div class="">
                                <p class="user-name mb-0">
                                    Prosper
                                </p>
                                <!-- <p  class="user-location mb-0">
                                    Dublin, Ireland
                                </p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <!-- <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div> -->
          </div>

    </div>
</section>

<section class="container-fluid py-5 services-out" id="services">
    <div class="container-xxl ">
        <div class="row our-services">
            <div class="col-xxl-6 col-lg-12 col-md-12 col-sm-12 h-100 p-3">
                <div class="service-title-card bg-dark rounded-3">
                    <div class="d-flex align-items-center justify-content-between">
                        <h2 class="fs-1 text-white fw-bold p-5 ">Our<br> Services</h2>
                        <!-- <div>
                            <img src="./img/homebg2.png" height="100" alt="">
                        </div> -->
                    </div>
                    
                </div>
            </div>

            <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-6 p-3">
                <div class="service-title-card rounded-3 p-4">

                    <div class="pb-3 rounded-pill">
                        <i class="fs-3 fas fa-truck"></i>
                    </div>
                    <h2 class="fs-5 fw-bold mb-4">Furniture Deliveries</h2>

                    <ul class="mb-0">
                        <li>
                            Moving items from stores or warehouses to homes.
                        </li>
                        <li>
                            Delivery of new and second-hand furniture.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-6 p-3">
                <div class="service-title-card rounded-3 p-4">

                    <div class="pb-3 rounded-pill">
                        <i class="fs-3 fas fa-home"></i>
                    </div>
                    <h2 class="fs-5 fw-bold mb-4">Home Relocations</h2>

                    <ul class="mb-0">
                        <li>
                            Assisting with full house or apartment moves.
                        </li>
                        <li>
                            Packing and unpacking services (optional).
                        </li>

                    </ul>
                </div>
            </div>

            <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-6 p-3">
                <div class="service-title-card rounded-3 p-4">

                    <div class="pb-3 rounded-pill">
                        <i class="fs-3 fas fa-cubes"></i>
                    </div>
                    <h2 class="fs-5 fw-bold mb-4">IKEA & Flat-Pack Deliveries</h2>

                    <ul class="mb-0">
                        <li>
                            Pickup and delivery of IKEA furniture and other flat-pack items.
                        </li>
                        <li>
                            Assembly service available (if you offer it).
                        </li>

                    </ul>
                </div>
            </div>

            <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-6 p-3">
                <div class="service-title-card rounded-3 p-4">

                    <div class="pb-3 rounded-pill">
                        <i class="fs-3 fas fa-store"></i>
                    </div>
                    <h2 class="fs-5 fw-bold mb-4">Online Marketplace Pickups</h2>

                    <ul class="mb-0">
                        <li>
                            Collection and delivery of items purchased on Facebook Marketplace, Adverts.ie, etc.
                        </li>
                        

                    </ul>
                </div>
            </div>

            <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-6 p-3">
                <div class="service-title-card rounded-3 p-4">

                    <div class="pb-3 rounded-pill">
                        <i class="fs-3 fas fa-dumpster"></i>
                    </div>
                    <h2 class="fs-5 fw-bold mb-4">Junk Removal</h2>

                    <ul class="mb-0">
                        <li>
                            Clearing out unwanted furniture, appliances, and other items.
                        </li>
                        <li>
                            Eco-friendly disposal services.
                        </li>

                    </ul>
                </div>
            </div>

            <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-6 p-3">
                <div class="service-title-card rounded-3 p-4">

                    <div class="pb-3 rounded-pill">
                        <i class="fs-3 fas fa-shipping-fast"></i>
                    </div>
                    <h2 class="fs-5 fw-bold mb-4">Emergency Moves</h2>

                    <ul class="mb-0">
                        <li>
                            Last-minute relocations or urgent delivery requests.
                        </li>
                        

                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>


 <!-- About Start -->
<section class="container-fluid py-5  wow fadeInUp" data-wow-delay="0.1s" id="about"> 

<div class="container-xxl">
        <h1 class="text-uppercase fw-bold text-center mb-5"> About Us</h1>


        <div class="row g-5">
            <div class="col-lg-7">
                
                
                <p class="mb-4">
                    At Lompatcare, we understand that life can be hectic, and that’s why we’re dedicated to making your life easier. 
                    Our Man with a Van service in Dublin is designed to meet your unique needs and budget. We pride ourselves on being experienced, reliable, 
                    and affordable. Whether you need help with a home move, furniture delivery, or any other transport needs, 
                    you can trust us to deliver exceptional service with a smile. 
                    Join countless satisfied customers who have made the smart choice with Lompatcare!
                </p>
                <div class="row g-0 mb-3">
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.2s">
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Reliable</h5>
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Professional Staff</h5>
                    </div>
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.4s">
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>24/7 Support</h5>
                        <h5 class="mb-3"><i class="fa fa-check text-primary me-3"></i>Fair Prices</h5>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-4 wow fadeIn" data-wow-delay="0.6s">
                    <div class="bg-primary d-flex align-items-center justify-content-center rounded" style="width: 60px; height: 60px;">
                        <i class="fa fa-phone-alt text-white"></i>
                    </div>
                    <div class="ps-4">
                        <h5 class="mb-2">Call to ask any question</h5>
                        <h4 class="text-primary mb-0"> +353 87 387 5175</h4>
                    </div>
                </div>
                <a href="quote.html" class="btn btn-primary btn-new-form py-3 px-5 mt-3 wow zoomIn" data-wow-delay="0.9s">Request A Quote</a>
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="{% static 'img/contact-4.png' %}" style="object-fit: contain;" alt="about Us image">

                </div>
            </div>
        </div>

    </div>

</section>
<!-- About End -->




<section class="container-fluid  py-5 " id="contactus">
    <div class="container-xxl">
        <div class="row gap-lg-0 gap-md-0 gap-sm-3 w-100 wow  slideInUp" data-wow-delay="0.3s">
            <div class="col-lg-4 col-md-6 col-sm-12  col-12 p-3">
                <div class="contact-contact-image rounded-3 w-100 rounded-5">
                    <h1 class="fw-bold text-primary text-uppercase text-white ">Contact Us</h1>
                    <h5 class="mb-0 text-white">If You Have Any Query, Feel Free To Contact Us</h5>
                </div>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-12 col-12 p-3">
                <div class="row justify-content-center w-100">
                   
                    <form method="post" action="{% url 'homepage' %}">
                        {% csrf_token %}
                        <div class="row gap-3">
                            <div class="col-md-6">
                                {{ form.name }}
                            </div>
                            <div class="col-md-6">
                                {{ form.email }}
                            </div>
                            <div class="col-12">
                                {{ form.subject }}
                            </div>
                            <div class="col-12">
                                {{ form.message }}
                            </div>
                            <div class="w-auto">
                                <button class="btn btn-primary btn-new-form w-100 py-3" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</section>







 <!-- Footer Start -->
 <div class="container-fluid bg-dark text-light mt-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container-xxl">
        <div class="row gx-0 justify-content-center">
            <div class="row gx-5">
                <div class="col-lg-4 col-md-6 footer-about">
                    <div class="d-flex flex-column align-items-center justify-content-center text-center h-100 bg-footer-special p-4">
                        <a href="index.html" class="navbar-brand">
                            <h1 class="m-0 text-white"> Man with a Van</h1>
                        </a>

                        <p class="mt-3 mb-4">
                            Our Man with a Van service in Dublin is designed to meet your unique needs and budget. 
                            We pride ourselves on being experienced, reliable, and affordable.
                        </p>
                        <form action="">
                            <div class="input-group">
                                <input type="text" class="form-control border-white p-3" placeholder="Your Email">
                                <button class="btn btn-dark">Sign Up</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="row gx-5">
                        <div class="col-lg-6 col-md-12 pt-5 mb-5">
                            <div class="section-title section-title-sm position-relative pb-3 mb-4">
                                <h3 class="text-light mb-0">Get In Touch</h3>
                            </div>
                        
                            <div class="d-flex mb-2">
                                <i class="bi bi-envelope-open text-danger me-2"></i>
                                <p class="mb-0">service@lompatlogistics.ie</p>
                            </div>
                            <div class="d-flex mb-2">
                                <i class="bi bi-telephone text-danger me-2"></i>
                                <p class="mb-0">+353 87 387 5175</p>
                            </div>
                            <div class="d-flex mt-4">
                                <a class="btn btn-danger btn-square me-2" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                                <a class="btn btn-danger btn-square me-2" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                                <a class="btn btn-danger btn-square me-2" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                                <a class="btn btn-danger btn-square" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                            </div>
                        </div>
        
                        <div class="col-lg-6 col-md-12 pt-0 pt-lg-5 mb-5">
                            <div class="section-title section-title-sm position-relative pb-3 mb-4">
                                <h3 class="text-light mb-0">Popular Links</h3>
                            </div>
                            <div class="link-animated d-flex flex-column justify-content-start">
                                <a class="text-light mb-2 text-decoration-none" href="#"><i class="bi bi-arrow-right text-danger me-2"></i>Home</a>

                                <a class="text-light text-decoration-none" href="#"><i class="bi bi-arrow-right text-danger me-2"></i>Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid text-white" style="background: #040b16;">
    <div class="container-xxl text-center">
        <div class="row justify-content-end">
            <div class="col-lg-8 col-md-6">
                <div class="d-flex align-items-center justify-content-center" style="height: 75px;">
                    <p class="mb-0">&copy; <a class="text-white border-bottom" href="#">TSBVANS</a>. All Rights Reserved. 
                    
                  
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->



    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-danger btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script> -->
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <!-- <script src="lib/owlcarousel/owl.carousel.min.js"></script> -->

    <!-- Template Javascript -->
    <script src="js/main.js"></script>


<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".testimonialSwiper", {
    //   slidesPerView: 3,
      spaceBetween: 30,
    //   loop: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    //   autoplay: {
    //     delay: 3000,
    //     disableOnInteraction: false,
    //   },
      breakpoints: {
        640: {
          slidesPerView: 1,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 2,
          spaceBetween: 40,
        },
        1024: {
          slidesPerView: 2,
          spaceBetween: 50,
        },

        1200: {
          slidesPerView: 3,
          spaceBetween: 50,
        },
      },
    });
</script>
</body>

</html>